* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared Style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.color-orange {
  color: #fd6e0a;
}
/* Main Style  */
header {
  background-color: #fff8f3;
  padding-top: 50px;
}
nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid greenyellow; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
