* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans > {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* main style */
header {
  background-color: #fff8f3;
  padding-top: 50px;
}
nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid gray; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
  color: black;
}

.color-orange {
  color: #fd6e0a;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 51px;
}

ul a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

.btn {
  background-color: #fd6e0a;
  color: white;
  padding: 18px 36px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
