* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

.color-orange {
  color: #fd6e0a;
}

.btn {
  color: white;
  background-color: #fd6e0a;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 18px 36px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #fd6e0a;
  background-color: white;
  border: 2px solid #fd6e0a;
}

.heading-text {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.para-text {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

.info-heading {
  font-size: 18px;
  color: #757575;
  margin-bottom: 5px;
}

.cards {
  max-width: 267px;
  height: 377px;
  padding: 33px;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: border 0.03s, transform 0.3s ease, box-shadow 0.3s ease;
}

.cards:hover {
  border-color: #db6612d2;
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 10px 25px rgba(238, 108, 21, 0.568);
}

.cards img {
  transition: border-radius 0.3s ease;
}

.cards:hover img {
  border-radius: 50%;
}

.cards img {
  margin-bottom: 28px;
}

.cards h1 {
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}

.cards p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}

/* Main Style  */
header {
  background-image: url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: 25px 30px;
  background-color: #fff8f3;
  padding-top: 50px;
}

nav {
  width: 100%;
  max-width: 1332px;
  /* border: 1px solid greenyellow; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 51px;
  margin-right: 192px;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

#banner {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1332px;
  width: 100%;
  height: 676px;
  margin: 47px auto 0;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;

  /* margin: 47px 38px 0 230px; */
}

#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image img {
  max-width: 585px;
  vertical-align: middle;
}

.banner-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.btn-reverse {
  background-color: #fff8f3;
  color: #fd6e0a;
  padding: 18px 36px;
  border: 2px solid #fd6e0a;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-reverse:hover {
  color: white;
  background-color: #fd6e0a;
  border: 2px solid transparent;
}

/* about section  */
#about {
  padding-top: 130px;
}

.about-container {
  background-color: #fff8f3;
  max-width: 1140px;
  height: 550px;
  margin: 0 auto;
  text-align: center;
  padding: 131px 156px;
  border-radius: 10px;
}

.about-container h1,
.para-text {
  margin-bottom: 30px;
}

.person-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

/* skill section  */
.skill-container {
  max-width: 1140px;
  margin: 130px auto 0;
}

.skill-container .skill-header {
  text-align: center;
}

.skill-container .para-text {
  max-width: 827px;
  margin: 30px auto 50px;
}

.skill-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

/* Resume Section  */
#resume {
  max-width: 1140px;
  margin: 130px auto 0;
}

.resume-header {
  text-align: center;
}

.resume-header .heading-text {
  margin-bottom: 113px;
}

.resume-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.education-section h2 {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}

.education-card h3 {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
  margin-top: 30px;
}

.education-card h4 {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

.education-card p {
  max-width: 511px;
  height: 84px;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 30px;
}

.resume-btn {
  text-align: center;
  margin-top: 50px;
}

#footer-section {
  margin-top: 113px;
  max-width: 100%;
  background-color: #fff8f3;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 130px 0;
}